.contact__container {
  background: var(--color-bg1);
  padding: 4rem;
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 4rem;
  height: 30rem;
  border-radius: 0.3rem;
  margin: 8rem auto;
}
.contact__aside {
  background: var(--color-primary);
  padding: 3rem;
  border-radius: 0.3rem;
  bottom: 15rem;
  position: relative;
}
.aside__image {
  margin-bottom: 2rem;
  width: 10rem;
}
.contact__aside h3 {
  text-align: center;
  margin-bottom: 1rem;
}
.contact__aside p {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1rem;
}
.contact__details li {
  display: flex;
  margin-bottom: 1rem;
  gap: 1rem;
  align-items: center;
}
.contact__socials {
  display: flex;
  gap: 1.5rem;
}
.contact__socials a {
  background: var(--color-bg2);
  padding: 0.3rem;
  border-radius: 50%;
}

.contact__socials a:hover {
  background: var(--color-success);
  transition: var(--transition);
}
form {
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
  gap: 1.2rem;
}
.form__name {
  display: flex;
  gap: 1.2rem;
}
form input[type="text"] {
  width: 50%;
  border-radius: 0.3rem;
}
form input {
  border-radius: 0.3rem;
}
input,
textarea {
  width: 100%;
  background: var(--color-bg);
  padding: 1rem;
  color: var(--color-white);
  border-radius: 0.3rem;
}
form .btn {
  width: max-content;
  margin-top: 1rem;
  cursor: pointer;
}

/* Query for tablets */
@media screen and (max-width: 1024px) {
  .contact {
    padding: 0;
  }

  .contact__container {
    height: auto;
    gap: 1.5rem;
    margin-top: 3rem;
    padding: 1.5rem;
  }
  .contact__aside {
    padding: 1.5rem;
    bottom: 0;
    width: auto;
  }
  form {
    align-self: center;
    margin-right: 0.5rem;
  }
}
@media screen and (max-width: 600px) {
  .contact__container {
    grid-template-columns: 1fr;
    gap: 3rem;
    margin-top: 0;
    padding: 0;
  }
  form {
    margin: 0 1.5rem 3rem;
  }
  .form__name {
    flex-direction: column;
  }
  .form__name input[type="text"] {
    width: 100%;
  }
}
