* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
:root {
  --color-primary: #6c63ff;
  --color-success: #00bf8e;
  --color-warning: #f7c94b;
  --color-danger: #f75842;
  --color-danger-variant: rgba(247, 88, 66, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.7);
  --color-black: #000;
  --color-bg: #1f2641;
  --color-bg1: #2e3267;
  --color-bg2: #424890;

  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

  --transition: all 400ms ease;
}
body {
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.7;
  color: var(--color-white);
  background: var(--color-bg);
}
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}
section {
  padding: 6rem 0;
}
section h2 {
  text-align: center;
  margin-bottom: 4rem;
}
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}
h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.3rem;
}
a {
  color: var(--color-white);
}
img {
  width: 100%;
  display: block;
  object-fit: cover;
}
.btn {
  background: var(--color-white);
  display: inline-block;
  color: var(--color-black);
  padding: 0.8rem 2.5rem;
  border: 1px solid transparent;
  font-weight: 500;
  transition: var(--transition);
  border-radius: 0.3rem;
}
.btn:hover {
  background: transparent;
  color: var(--color-white);
  border-color: var(--color-primary);
}
.btn-primary {
  background: var(--color-danger);
  color: var(--color-white);
}

/* Navbar styles */

nav {
  background: transparent;
  width: 100vw;
  height: 5rem;
  position: fixed;
  top: 0;
  z-index: 15;
}
.nav__container {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav button {
  display: none;
}
.nav__menu {
  display: flex;
  gap: 4rem;
  align-items: center;
}
.nav__menu a {
  font-size: 0.9rem;
  transition: var(--transition);
}
.nav__menu a:hover {
  color: var(--color-bg2);
}

/* navbar scroll effects using js */
.window-scroll {
  background: var(--color-primary);
  transition: var(--transition);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background: rgba(101, 30, 211, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

/* Header styles */
header {
  position: relative;
  top: 5rem;
  overflow: hidden;
  margin-bottom: 5rem;
  height: 70vh;
}
.header__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
  height: 100%;
}
.header__left p {
  margin: 1rem 0.24rem;
}

/* Categories  styles */
.categories {
  background: var(--color-bg1);
  height: 26rem;
}
.categories h1 {
  line-height: 1;
  margin-bottom: 3rem;
}
.categories__container {
  display: grid;
  grid-template-columns: 40% 60%;
}
.categories__left p {
  margin: 1rem 0 3rem;
}
.categories__right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
}
.category {
  background: var(--color-bg2);
  padding: 1rem;
  border-radius: 0.6rem;
  transition: var(--transition);
}
.category:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.category__icon {
  background: var(--color-primary);
  padding: 0.7rem;
  border-radius: 0.9rem;
}
.category h5 {
  margin: 2rem 0 1rem;
}
.category p {
  font-size: 0.85rem;
}
.category:nth-child(2) .category__icon {
  background: var(--color-danger);
}
.category:nth-child(3) .category__icon {
  background: var(--color-success);
}
.category:nth-child(4) .category__icon {
  background: var(--color-success);
}
.category:nth-child(5) .category__icon {
  background: var(--color-primary);
}
.category:nth-child(6) .category__icon {
  background: var(--color-danger);
}
/* Courses  styles */
.courses {
  margin-top: 3rem;
}
.courses__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.course {
  background: var(--color-primary);
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
  border-radius: 0.3rem;
  padding-bottom: 1.5rem;
}
.course:hover {
  background: transparent;
  border: 1px solid var(--color-primary);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.course img {
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
.course__info {
  padding: 1.8rem;
}
.course__info p {
  font-size: 0.8rem;
  margin: 0.5rem 0 0;
}

/* FAQ'S  styles */

.faqs {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.faqs__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.6rem;
  align-items: center;
  transition: 0.4s;
}
.faq {
  display: flex;
  background: var(--color-bg2);
  padding: 1rem;
  border-radius: 0.3rem;
  height: fit-content;
  cursor: pointer;
  gap: 1.4rem;
}
.faq i {
  align-self: flex-start;
  font-size: 1.2rem;
}
.faq__question h4 {
  font-size: 1rem;
  align-items: center;
  line-height: 2.2rem;
}
.faq__question p {
  font-size: 0.8rem;
  display: none;
  margin-top: 0.8rem;
}
.faq.open p {
  display: block;
  transition: var(--transition);
}
.faq.active {
  transition: var(--transition);
}

.testimonials__container {
  overflow-x: hidden;
  position: relative;
  margin-bottom: 5rem;
}
.testimonial {
  padding: 2rem;
  cursor: pointer;
}
.avatar {
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  overflow: hidden;
  margin: 0 auto 1rem;
  border: 0.3rem solid var(--color-bg2);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.testimonial__info {
  text-align: center;
}
.testimonial__body {
  background: var(--color-bg2);
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 0.3rem;
  position: relative;
}

.testimonial__body::before {
  content: "";
  width: 4rem;
  height: 4rem;
  background: var(--color-bg2);
  display: block;
  position: absolute;
  left: 43%;
  top: -1.5rem;
  transform: rotate(45deg);
  z-index: -1;
  border: 0.5px solid var(--color-white);
  border-radius: 50%;
}

footer {
  background: var(--color-bg1);
  padding: 5rem;
}
.footer__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.footer__container > div h4 {
  margin-bottom: 1.3rem;
}
.footer-1 p {
  margin: 0 2rem;
}
.footer__socials {
  gap: 2rem;
  font-size: 2rem;
  transition: var(--transition);
}
.footer__socials i:hover {
  color: var(--color-success);
}

.copy__right {
  text-align: center;
  border-top: 0.5px solid var(--color-bg2);
  margin-top: 2rem;
  padding: 2rem;
}
